<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Movie Consultant</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='../static/style/style.css') }}">
    <link rel="stylesheet" href="images/background.jpg">
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-white">
            <div class="container" id="hola">
                <a class="navbar-brand" href="{{ url_for('home') }}" id="titulo">Movie World</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                     <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item dropdown">
                            <a class="nav-link toggle" href="{{ url_for('dash') }}" id="navbar-toggler" role="button">
                                Dashboard
                            </a>
                            <!-- Here's the magic. Add the .animate and .slide-in classes to your .dropdown-menu and you're all set! -->
                            <!-- <div class="dropdown-menu dropdown-menu-right animate slideIn" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="max_temp.html">Max Temperature</a>
                                <a class="dropdown-item" href="humidity.html">Humidity</a>
                                <a class="dropdown-item" href="cloudiness.html">Cloudiness</a>
                                <a class="dropdown-item" href="wind.html">Windspeed</a>
                                <!--<div class="dropdown-divider"></div>-->
                            <!--</div> -->
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link toggle" href="{{ url_for('calcu') }}" id="navbar-toggler" role="button">
                                Movie Calculator
                            </a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link toggle" href="{{ url_for('random') }}" id="navbar-toggler" role="button">
                                Movie Random List
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

    </header>

    <div class="container" id="start">
        <div class="row">
            <div class="col-12">
                <h1 class="entry">MOVIE CONSULTANT</h1>
                <p class="entry2">"We've got mountains of data, but nowhere near enough computer power to analyze it. Can you help us?"</p>
                <p class="entry3">.- The Day After Tomorrow</p>
                <hr>
                <a href="{{ url_for('dash') }}">
                    <button type="button" class="btn btn-primary btn-lg" id="begining">Let's Begin!</button>
                </a>
            </div>
        </div>
    </div>

</body>
<script src="https://d3js.org/d3.v5.min.js"></script>
<script src="../static/js/logic.js ">
    {
        {
            index.html
        }
    }
</script>

</html>